<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vue Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Bruno Lapierre">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/product_style.css">
<!--    <link rel="stylesheet" type="text/css" src="node_modules/verte/dist/verte.css">-->
    <script src="javascript/vue.js"></script>
</head>
<title>Vue Tutorial</title>
<body>

<div class="nav-bar"></div>

<div id="app">
    <div class="cart">
        <p>Cart({{ cart.length }})</p>
    </div>

    <product v-bind:premium="premium" v-on:add-to-cart="addItemToCart" v-on:remove-from-cart="removeItemFromCart"></product>


<!--    <div class="product">-->
<!--        <div class="product-image">-->
<!--            <a v-bind:href="imageUrl">-->
<!--                <img v-bind:src="image" />-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="product-info">-->
<!--            <h1>{{ sale }}</h1>-->
<!--            <p v-if="inStock">In Stock</p>-->
<!--            <p v-else>Out of Stock</p>-->

<!--            <ul>-->
<!--                <li v-for="detail in details">{{ detail }}</li>-->
<!--            </ul>-->

<!--&lt;!&ndash;            v-bind:style="{ 'background-color': variant.color }" &ndash;&gt;-->
<!--&lt;!&ndash;            [or] bindging vue styling                            &ndash;&gt;-->
<!--&lt;!&ndash;            v-bind:style="{ backgroundColor: variant.color }"    &ndash;&gt;-->


<!--&lt;!&ndash;            v-bind:style="variant.variantStyleObject"                                        &ndash;&gt;-->
<!--&lt;!&ndash;            [or]  bindging with an array                                                      &ndash;&gt;-->
<!--&lt;!&ndash;            v-bind:style="[variant.variantStyleObjectColor, variant.variantStyleObjectSize]" &ndash;&gt;-->


<!--&lt;!&ndash;            v-on:mouseover="updateProductImage(variant.variantColor)" &ndash;&gt;-->
<!--&lt;!&ndash;            [or]                                                      &ndash;&gt;-->

<!--            <div v-for="(variant, index) in variants"-->
<!--                 v-bind:key="variant.id"-->
<!--                 class="color-box"-->
<!--                 v-bind:style="[variant.variantStyleObjectColor, variant.variantStyleObjectSize]"-->
<!--                 v-on:mouseover="updateProductImage(index)">-->

<!--            </div>-->

<!--            <button v-on:click="addToCart" v-bind:disabled="!inStock"  v-bind:class="{disabledButton: !inStock}">-->
<!--                Add to cart-->
<!--            </button>-->
<!--            <button class="warning" v-on:click="removeFromCart">-->
<!--                Remove From cart-->
<!--            </button>-->

<!--            <div class="cart">-->
<!--                <p>Cart({{ cart }})</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
</div>

<!--<script src="node_modules/verte/dist/verte.js"></script>-->
<script src="javascript/main.js"></script>
</body>
</html>